<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<body>
<form th:object="${books}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" id="name" placeholder="name"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" id="price" placeholder="price"></td>
        </tr>
        <tr>
            <td>Author:</td>
            <td><input type="text" id="author" placeholder="author"></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select id="category">
                    <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add" ></td>
        </tr>
    </table>
</form>

<h1>Book</h1>
<table border="1">
    <tr>
        <th>Name </th>
        <th>Price</th>
        <th>Author</th>
        <th>Category</th>
        <th>Image</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="book : ${books}">
        <tr>
            <td th:text="${book.name}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.author}"></td>
            <td th:if="${book.category}" th:text="${book.category.name}"></td>
            <td th:unless="${book.category}"></td>
            <td th:text="${book.image}"></td>
<!--            <td><img th:src="@{'/img/'+${book.image}}" width="100"></td>-->

            <td><a th:href="@{/edit/__${book.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete/__${book.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>